*{
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif
}

body{
  background-color: orange;
  width: 100%;
}

hr{
  margin-left: -2px;
  width: 100%;
  margin-bottom: 30px;  
  border-color: bisque;
  height: 1px;
  background-color: bisque;
}

.clearfix{
  float: none;
  clear: both;
}

#app-container{
  width: 41%;
  margin-left: 26%;
  margin-top: 40px;
}

#header-container{
  width: 100%;
  text-align: center;
  background-color: aquamarine;
  padding: 40px;
  font-size: 27px;
  border-radius: 20px 20px 0px 0px;
}

#header-title{
  margin-bottom: 30px;
}

#buttons-container{
  width: 100%;
  background-color: antiquewhite;
  min-height: 200px;
  height: auto;
  padding: 40px;
  margin: 0 auto;
  border-radius: 0px 0px 20px 20px;
}

.spanishButtons, .englishButtons, .germanButtons, .russianButtons{
  height: 55px;
  cursor: pointer;
  border-radius: 15px;
  border: 1px solid #cec9c9;
}

.spanishButtons, .englishButtons{
  margin: 1.1%;
  width: 7.80%;
}

.germanButtons, .russianButtons{
  margin: 1.1%;
  width: 6.89%;
}

.spanishButtons:hover, .englishButtons:hover, .germanButtons:hover, .russianButtons:hover, .startGameButton{
  box-shadow: 0px 0px 10px #cec9c9;
}

.spanishButtons:active, .englishButtons:active, .germanButtons:active, .russianButtons:active, .startGameButton{
  box-shadow: 4px 4px 15px #cec9c9;
}

.startGameButton{
  background-color: greenyellow;
  font-size: 140%;
  font-weight: bold;
  margin: 1.1%;
  padding: 2.8%;
  cursor: pointer;
  border-radius: 15px;
  border: 1px solid #cec9c9;
}

.restartGameButton{
  background-color:  #F91942;
  float: right;
  font-size: 80%;
  border-radius: 15px;
  border: 1px solid #cec9c9;
  padding: 2.3%;
  margin-top: -7px;
}

#translated-word-container{
  width: 100%;
  margin: 0px auto;
  text-align: center;
  background-color: black;
  padding: 40px;
  color: white;
}

.selectGameMode, .selectLanguage1, .selectLanguage2{
  display: inline;
  margin: auto;
  margin-bottom: 40px;
  width: 255px;
  height: 25px;
  background-color: black;
  color: white;
  text-align: center;
  border: 2px solid brown;
}

#score-container{
  background-color: antiquewhite;
  display: block;
  float: left;
  padding: 40px;
  position: absolute;
  top: 25%;  
  
}

#score-container h3{
  margin-right: 50px;
  margin-bottom: 15px;
}

#score-container h2{
  float: right;
  margin-top: -40px;
}

#original-word{
  font-size: 35px;
}

.divContainerSelectDifficulty, .divContainerSelectWordsType {
  width: 255px;
  display: inline-block;
  margin-bottom: 40px;
}

.selectBoxDifficulty, .selectBoxWordsType {
  position: relative;
}

.selectBoxDifficulty select, .selectBoxWordsType select {
  display: inline;
  margin: auto;
  width: 255px;
  height: 25px;
  background-color: black;
  color: white;
  text-align: center;
  border: 2px solid brown;
}

.overSelectDifficulty, .overSelectWordsType {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.divCheckBoxesDifficulty, .divCheckBoxesWordsType {
  display: none;
  border: 1px black solid;
  background-color: black;
  position: absolute;
  width: 253px;
  padding-top: 15px;
  padding-bottom: 15px;
  
}

.labelDifficulty, .labelWordsType {
  display: inline;
  color: white;
  margin: 25px;
}



/* RESPONSIVE */

@media (min-width: 2027px){

#app-container{
  margin-left: 30%;
  width: 60%;  
  font-size: 250%;
}

/* .buttons{
  margin: 1.4%;
  padding: 2.7%;
  font-size: 65%;
} */

#header-container{
  font-size: 150%;
}

.select{
  font-size: 50%;
  width: 35%;
  height: 25%;
}

#score-container{
  width: 20%;
  padding: 60px;
  font-size: 200%;
}

}

@media (max-width: 1232px){

#app-container{
  margin-left: 34%;
}

#buttons-container{
  width: 109.9%;
  padding: 15px;
}

}

@media (max-width: 1119px){

#buttons-container{
  width: 111.9%;
  padding: 12px;
}

/* .buttons{
  margin: 1.0%;
  padding: 2.8%;
} */

}

@media (max-width: 1024px){

body{
  background-color: antiquewhite;
}

#score-container{
  display: flex;
  float: none;
  position: relative;
  width: 100%;
  padding: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0%;
}

#score-container-first-div{
  margin-left: 15px;
}

#score-container hr{
  display: none;
}

#score-container h2{
  display: contents;
}

#app-container{
  width: 100%;
  margin: 0%;
}

#header-container, #translated-word-container, #buttons-container{
  border-radius: 0px;
  margin: 0%;
  padding: 0px;
  padding-top: 25px;
  padding-bottom: 25px;
}

#buttons-container{
  width: 100%;
}

/* .buttons{
  margin: 1.222%;
  padding: 2.8%;
} */

}

@media (max-width: 728px){

#score-container{
  font-size: 80%;
}

}

@media (max-width: 635px){

#score-container{
  font-size: 60%;
}

#header-title{
  font-size: 180%;
}
  
}

@media (max-width: 569px){

/* .buttons{
  margin: 1.18%;
  padding: 2.8%;
  height: 60px;
} */

}

@media (max-width: 543px){

#score-container h3{
  margin-right: 20px;
  margin-bottom: 15px;
}

#header-title{
  font-size: 120%;
}

#header-container{
  padding: 0px;
  padding-top: 10px;
  padding-bottom: 15px;
}

/* .buttons{
  margin: 1.094%;
  padding: 2.5%;
  height: 50px;
} */
    
}

@media (max-width: 393px){
  
#score-container{
  font-size: 50%;
}

#score-container h3{
  margin-right: 15px;
  margin-bottom: 10px;
}

/* .buttons{
  margin: 1.0%;
  padding: 2.25%;
  height: 50px;
} */

}

@media (max-width: 321px){

#app-container, #score-container{
  width: 321px;
}

}

