*{
  margin: 0px;
  padding: 0px;
}

body{
  background-color: orange;
  width: 100%;
}

hr{
  margin-left: -2px;
  width: 100%;
  margin-bottom: 30px;  
  border-color: bisque;
  height: 1px;
  background-color: bisque;
}

.clearfix{
  float: none;
  clear: both;
}

#app-container{
  width: 41%;
  margin-left: 26%;
  margin-top: 40px;
}

#header-container{
  width: 100%;
  text-align: center;
  background-color: aquamarine;
  padding: 40px;
  font-size: 27px;
  border-radius: 20px 20px 0px 0px;
}

#header-title{
  margin-bottom: 30px;
}

#buttons-container{
  width: 100%;
  background-color: antiquewhite;
  min-height: 200px;
  height: auto;
  padding: 40px;
  margin: 0 auto;
  border-radius: 0px 0px 20px 20px;
}

.buttons{
  min-width: 58.5px;
  margin: 10px;
  padding: 20px;
  cursor: pointer;
  border-radius: 15px;
  border: 1px solid #cec9c9;
}

.buttons:hover{
  box-shadow: 0px 0px 10px #cec9c9;
}

.buttons:active{
  box-shadow: 4px 4px 15px #cec9c9;
}

#translated-word-container{
  width: 100%;
  margin: 0px auto;
  text-align: center;
  background-color: black;
  padding: 40px;
  color: white;
}

.select{
  display: block;
  margin: auto;
  margin-bottom: 40px;
  width: 225px;
  height: 25px;
  background-color: black;
  color: white;
  text-align: center;
  border: 2px solid brown;
}

#score-container{
  background-color: antiquewhite;
  display: block;
  float: left;
  padding: 40px;
  position: absolute;
  top: 25%;  
  
}

#score-container h3{
  margin-right: 50px;
  margin-bottom: 15px;
}

#score-container h2{
  float: right;
  margin-top: -40px;
}

/* RESPONSIVE */

@media (max-width: 1250px){

#app-container{
  margin-left: 34%;
}

}

@media (max-width: 1024px){

#app-container{
  margin-left: 43%;
}

}

@media (max-width: 900px){

#score-container{
  display: flex;
  float: none;
  position: relative;
  width: 100%;
  padding: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0%;
}

#score-container-first-div{
  margin-left: 15px;
}

#score-container hr{
  display: none;
}

#score-container h2{
  display: contents;
}

#app-container{
  width: 100%;
  margin: 0%;
}

#header-container, #translated-word-container, #buttons-container{
  border-radius: 0px;
  margin: 0%;
  padding: 0px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.buttons{
  min-width: 70px;
}

}

@media (max-width: 728px){

#app-container, #score-container{
  width: 728px;
}

}

